
button{
    width: 100px;
    height:100px;
    border-radius: 50px ;
    
    color: white;
    font-size: 3em;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background-color: hsl(0, 0%, 30%);
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}
#keys{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
#Calculator{
    font: Arial;
    background-color: hsl(0, 0%, 15%);
    max-width: 500px;
    overflow: hidden;
    border-radius: 15px;
}
#display{
    width: 100%;
    padding: 20px;
    background-color: hsl(0, 0%, 20%);
    font-size: 5em;
    text-align: left;
    color: white;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}
.operator{
    background-color: hsl(39, 100%, 50%);
}
.operator:hover{
    background-color: hsl(39, 100%, 65%);
}
.operator:active{
    background-color: hsl(39, 100%, 80%);
}